<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ESFE.Restaurante.DAL.Properties.Settings.BDRestauranteConnectionString"
            connectionString="Data Source=DESKTOP-SIJQEDF\SERVIDORSQL;Initial Catalog=BDRestaurante;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>