
@{
    ViewBag.Title = "AlmuerzosCenas1";
}

<body class="body">
    <header id="header ">
        <div class="logo">
            <img src="images/logo.png" alt="">
        </div>
        <nav class="inicio">
            <ul>
                <li><a href="/Cliente/Menu">Desayunos</a></li>
                <li><a href="/Cliente/AlmuerzosCenas1">Almuerzos y Cenas 1</a></li>
                <li><a href="/Cliente/AlmuerzoCenas2">Almuerzos y Cenas 2</a></li>
                <li><a href="/Cliente/Entradaspostres">Entradas Y Postres</a></li>
                <li><a href="/Cliente/Bebidas">Bebidas</a></li>
                <li><a href="/Cliente/BebidasAlcoholicas">Bebidas Alcoholicas</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="bebida">
            <div>
                <h1>SOPAS Y CREMAS</h1>
            </div>
        </section>
        <section class="menu">
            <div class="desayuno">
                <h2>Sopa de Camarones</h2>
                <div id="Sopacamarones"></div>
                <div class="descripcionAC1">
                    <h3>Sopa de Camarones</h3>
                    <h4>
                        $ 13.80
                    </h4>
                </div>
                <br />
                <center><a href="/Cliente/PedidoC33" class="button"><font color="black">Agregar</font></a></center>
            </div>
            <div class="desayuno">
                <h2>Sopa de Pata</h2>
                <div id="Sopapata"></div>
                <div class="descripcionAC1">
                    <h3>Sopa de Pata</h3>
                    <h4>
                        "Solo los Domingos"
                        <br />
                        $ 6.45
                    </h4>
                </div>
                <br>
                <center><a href="/Cliente/PedidoC34" class="button"><font color="black">Agregar</font></a></center>
            </div>
            <div class="desayuno">
                <h2>Crema de Cebolla</h2>
                <div id="Cremacebolla"></div>
                <div class="descripcionAC1">
                    <h3>Crema de Cebolla</h3>
                    <h4>
                        $ 3.95
                    </h4>
                </div>
                <br>
                <center><a href="/Cliente/PedidoC35" class="button"><font color="black">Agregar</font></a></center>
            </div>
        </section>
        <section class="menu">
            <div class="desayuno">
                <h2>Crema de Papa tipo Americana</h2>
                <div id="Cremapapa"></div>
                <div class="descripcionAC2">
                    <h3>Crema de Papa</h3>
                    <h4>
                        $ 3.87
                    </h4>
                </div>
                <br>
                <center><a href="/Cliente/PedidoC36" class="button"><font color="black">Agregar</font></a></center>
            </div>
            <div class="desayuno">
                <h2>Crema de Brócoli</h2>
                <div id="Cremabrocoli"></div>
                <div class="descripcionAC2">
                    <h3>Crema de Brócoli</h3>
                    <h4>
                        $ 3.25
                    </h4>
                </div>
                <br>
                <center><a href="/Cliente/PedidoC37" class="button"><font color="black">Agregar</font></a></center>
            </div>
            <div class="desayuno">
                <h2>Crema de Toamate</h2>
                <div id="Crematoamate"></div>
                <div class="descripcionAC2">
                    <h3>Crema de Tomate</h3>
                    <h4>
                        $ 3.15
                    </h4>
                </div>
                <br>
                <center><a href="/Cliente/PedidoC38" class="button"><font color="black">Agregar</font></a></center>
            </div>
        </section>
        <section class="bebida">
            <div>
                <h1>ENSALADA</h1>
            </div>
        </section>
        <section class="menu">
            <div class="desayuno">
                <h2>Ensalada Agape</h2>
                <div id="Ensaladaagape"></div>
                <div class="descripcionAC3">
                    <h3>Ensalada Agape</h3>
                    <h4>
                        $ 6.95
                    </h4>
                </div>
                <br>
                <center><a href="/Cliente/PedidoC39" class="button"><font color="black">Agregar</font></a></center>
            </div>
            <div class="desayuno">
                <h2>Ensalada Primavera</h2>
                <div id="Ensaladaprimavera"></div>
                <div class="descripcionAC3">
                    <h3>Ensalada Primavera</h3>
                    <h4>
                        $ 6.95
                    </h4>
                </div>
                <br>
                <center><a href="/Cliente/PedidoC40" class="button"><font color="black">Agregar</font></a></center>
            </div>
            <div class="desayuno">
                <h2>Ensalada Gringa</h2>
                <div id="Ensaladagriega"></div>
                <div class="descripcionAC3">
                    <h3>Ensalada Gringa</h3>
                    <h4>
                        $ 6.45
                    </h4>
                </div>
                <br>
                <center><a href="/Cliente/PedidoC41" class="button"><font color="black">Agregar</font></a></center>
            </div>
        </section>
        <section class="bebida">
            <div>
                <h1>ARROCES Y PASTAS</h1>
            </div>
        </section>
        <section class="menu">
            <div class="desayuno">
                <h2>Spaghetti con Camarones y Zucchini</h2>
                <div id="Spaghetticamarones"></div>
                <div class="descripcionAC4">
                    <h3>Spaghetti con Camarones y Zucchini</h3>
                    <h4>
                        $ 15.40
                    </h4>
                </div>
                <br>
                <center><a href="/Cliente/PedidoC42" class="button"><font color="black">Agregar</font></a></center>
            </div>
            <div class="desayuno">
                <h2>Spaghetti a la Carbonara</h2>
                <div id="Spaghetticarbonara"></div>
                <div class="descripcionAC4">
                    <h3>Spaghetti a la Carbonara</h3>
                    <h4>
                        $ 9.85
                    </h4>
                </div>
                <br>
                <center><a href="/Cliente/PedidoC43" class="button"><font color="black">Agregar</font></a></center>
            </div>
            <div class="desayuno">
                <h2>Spaghetti a la Bolognesa</h2>
                <div id="Spaghettibolognesa"></div>
                <div class="descripcionAC4">
                    <h3>Spaghetti a la Bolognesa</h3>
                    <h4>
                        $ 9.25
                    </h4>
                </div>
                <br>
                <center><a href="/Cliente/PedidoC44" class="button"><font color="black">Agregar</font></a></center>
            </div>
        </section>
        <section class="menu3">
            <div class="desayuno">
                <h2>
                    Spaghetti en Salsa Alfredo
                    con Pollo y Hongos
                </h2>
                <div id="Spaghettialfredo"></div>
                <div class="descripcionAC5">
                    <h3>Spaghetti en Salsa Alfredo con Pollo y Hongos</h3>
                    <h4>
                        $ 8.95
                    </h4>
                </div>
                <br>
                <center><a href="/Cliente/PedidoC45" class="button"><font color="black">Agregar</font></a></center>
            </div>
            <div class="desayuno">
                <h2>Arroz Cantonés</h2>
                <div id="Arrozcantones"></div>
                <div class="descripcionAC5">
                    <h3>Arroz Cantonés</h3>
                    <h4>
                        $ 7.45
                    </h4>
                </div>
                <br>
                <center><a href="/Cliente/PedidoC46" class="button"><font color="black">Agregar</font></a></center>
            </div>
        </section>
        <section class="bebida">
            <div>
                <h1>MARISCOS</h1>
            </div>
        </section>
        <section class="menu">
            <div class="desayuno">
                <h2>Pescado Agape</h2>
                <div id="Pescadoagape"></div>
                <div class="descripcionAC6">
                    <h3>Pescado Agape</h3>
                    <h4>
                        $ 19.95
                    </h4>
                </div>
                <br>
                <center><a href="/Cliente/PedidoC47" class="button"><font color="black">Agregar</font></a></center>
            </div>
            <div class="desayuno">
                <h2>Filete de Pescado Empanizado</h2>
                <div id="Fileteempanizado"></div>
                <div class="descripcionAC6">
                    <h3>Filete de Pescado Empanizado</h3>
                    <h4>
                        $ 15.95
                    </h4>
                </div>
                <br>
                <center><a href="/Cliente/PedidoC48" class="button"><font color="black">Agregar</font></a></center>
            </div>
            <div class="desayuno">
                <h2>Camarones Empanizados</h2>
                <div id="Camaronesempanizados"></div>
                <div class="descripcionAC6">
                    <h3>Camarones Empanizados</h3>
                    <h4>
                        $ 15.25
                    </h4>
                </div>
                <br>
                <center><a href="/Cliente/PedidoC49" class="button"><font color="black">Agregar</font></a></center>
            </div>
        </section>
        <section class="menu">
            <div class="desayuno">
                <h2>Filete de Pescado en Matequilla</h2>
                <div id="Filetematequilla"></div>
                <div class="descripcionAC7">
                    <h3>Filete de Pescado en Matequilla</h3>
                    <h4>
                        $ 14.25
                    </h4>
                </div>
                <br>
                <center><a href="/Cliente/PedidoC50" class="button"><font color="black">Agregar</font></a></center>
            </div>
            <div class="desayuno">
                <h2>Pescado en  Mantequilla</h2>
                <div id="Salmonmantequilla"></div>
                <div class="descripcionAC7">
                    <h3>Pescado en Mantequilla</h3>
                    <h4>
                        $ 14.95
                    </h4>
                </div>
                <br>
                <center><a href="/Cliente/PedidoC51" class="button"><font color="black">Agregar</font></a></center>
            </div>
            <div class="desayuno">
                <h2>Filete de Pescado al Papillote</h2>
                <div id="Filetepapillote"></div>
                <div class="descripcionAC7">
                    <h3>Filete de Pescado al Papillote</h3>
                    <h4>
                        $ 14.45
                    </h4>
                </div>
                <br>
                <center><a href="/Cliente/PedidoC52" class="button"><font color="black">Agregar</font></a></center>
            </div>
        </section>
        <section class="menu">
            <div class="desayuno">
                <h2>Cóctel de Camarónal Natural</h2>
                <div id="Coctelnatural"></div>
                <div class="descripcionAC8">
                    <h3>Cóctel de Camarónal Natural</h3>
                    <h4>
                        $ 14.25
                    </h4>
                </div>
                <br>
                <center><a href="/Cliente/PedidoC53" class="button"><font color="black">Agregar</font></a></center>
            </div>
            <div class="desayuno">
                <h2>
                    Filete de Pescado
                    en Salsa de Camarones
                </h2>
                <div id="Filetecamarones"></div>
                <div class="descripcionAC8">
                    <h3>Filete de Pescado en Salsa de Camarones</h3>
                    <h4>
                        $ 13.45
                    </h4>
                </div>
                <br>
                <center><a href="/Cliente/PedidoC54" class="button"><font color="black">Agregar</font></a></center>
            </div>
            <div class="desayuno">
                <h2>Camarones al Ajillo</h2>
                <div id="Camaronesajillo"></div>
                <div class="descripcionAC8">
                    <h3>Camarones al Ajillo</h3>
                    <h4>
                        $ 13.25
                    </h4>
                </div>
                <br>
                <center><a href="/Cliente/PedidoC55" class="button"><font color="black">Agregar</font></a></center>
            </div>
        </section>
        <section class="menu2">
            <div class="desayuno">
                <h2>Cóctel de Camarones en Salsa Rosada</h2>
                <div id="Coctelrosada"></div>
                <div class="descripcionAC9">
                    <h3>Cóctel de Camarones en Salsa Rosada</h3>
                    <h4>
                        $ 12.4s5
                    </h4>
                </div>
                <br>
                <center><a href="/Cliente/PedidoC56" class="button"><font color="black">Agregar</font></a></center>
            </div>
        </section>
    </main>
    <footer>
        <div class="contenedor-footer">
            <div class="content-foo">
                <h4>Telefono</h4>
                <p>7823-4512</p>
            </div>
            <div class="content-foo">
                <h4>Email</h4>
                <p>Restaurantedoñalaura@gmail.com</p>
            </div>
            <div class="content-foo">
                <h4>Direccion</h4>
                <p>Carretera sonsacate a la par de agape el salvador</p>
            </div>
        </div>
        <h2 class="titulo-final">Restaurante Doña Laura</h2>
    </footer>
</body>

