
@{
    ViewBag.Title = "AlmuerzoCenas2";
}

<body class="body">
    <header id="header ">
        <div class="logo">
            <img src="images/logo.png" alt="">
        </div>
        <nav class="inicio">
            <ul>
                <li><a href="/Cliente/Menu">Desayunos</a></li>
                <li><a href="/Cliente/AlmuerzosCenas1">Almuerzos y Cenas 1</a></li>
                <li><a href="/Cliente/AlmuerzoCenas2">Almuerzos y Cenas 2</a></li>
                <li><a href="/Cliente/Entradaspostres">Entradas Y Postres</a></li>
                <li><a href="/Cliente/Bebidas">Bebidas</a></li>
                <li><a href="/Cliente/BebidasAlcoholicas">Bebidas Alcoholicas</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="bebida">
            <div>
                <h1>CARNES</h1>
            </div>
        </section>
        <section class="menu">
            <div class="desayuno">
                <h2>Mixto carne y pollo</h2>
                <div id="Carneypollo"></div>
                <div class="descripcionACP1">
                    <h3>Mixto carne y pollo</h3>
                    <h4>
                        $16.65
                    </h4>
                </div>
                <br />
                <center><a href="/Cliente/PedidoC57" class="button"><font color="black">Agregar</font></a></center>
            </div>
            <div class="desayuno">
                <h2>Filete de Res con Salsa Jalapeña</h2>
                <div id="fileteJalapeña"></div>
                <div class="descripcionACP1">
                    <h3>Filete de Res con Salsa Jalapeña</h3>
                    <h4>
                        $14.45
                    </h4>
                </div>
                <br />
                <center><a href="/Cliente/PedidoC58" class="button"><font color="black">Agregar</font></a></center>
            </div>
            <div class="desayuno">
                <h2>Conejo al ajillo</h2>
                <div id="Conejoajillo"></div>
                <div class="descripcionACP1">
                    <h3>Conejo al ajillo</h3>
                    <h4>
                        $14.25
                    </h4>
                </div>
                <br />
                <center><a href="/Cliente/PedidoC59" class="button"><font color="black">Agregar</font></a></center>
            </div>
        </section>
        <section class="menu">
            <div class="desayuno">
                <h2>Lomo de aguja</h2>
                <div id="Lomodeaguja"></div>
                <div class="descripcionACP2">
                    <h3>Lomo de aguja</h3>
                    <h4>
                        $13.85
                    </h4>
                </div>
                <br />
                <center><a href="/Cliente/PedidoC60" class="button"><font color="black">Agregar</font></a></center>
            </div>
            <div class="desayuno">
                <h2>Menu Campesino</h2>
                <div id="MenuCampesino"></div>
                <div class="descripcionACP2">
                    <h3>Menu Campesino 6 onzas</h3>
                    <h4>
                        $12.80
                    </h4>
                </div>
                <br />
                <center><a href="/Cliente/PedidoC61" class="button"><font color="black">Agregar</font></a></center>
            </div>
            <div class="desayuno">
                <h2>Costilla en Salsa de Tamarindo</h2>
                <div id="CostillaTamarindo"></div>
                <div class="descripcionACP2">
                    <h3>Costilla en Salsa de Tamarindo 8 onzas</h3>
                    <h4>
                        $12.55
                    </h4>
                </div>
                <br />
                <center><a href="/Cliente/PedidoC62" class="button"><font color="black">Agregar</font></a></center>
            </div>
        </section>
        <section class="menu3">
            <div class="desayuno">
                <h2>Churrasco AGAPE</h2>
                <div id="ChurrascoAgape"></div>
                <div class="descripcionACP3">
                    <h3>Churrasco AGAPE 6 onzas</h3>
                    <h4>
                        $12.45
                    </h4>
                </div>
                <br />
                <center><a href="/Cliente/PedidoC63" class="button"><font color="black">Agregar</font></a></center>
            </div>
            <div class="desayuno">
                <h2>Filete de Res Encebollado</h2>
                <div id="FileteEncebollado"></div>
                <div class="descripcionACP3">
                    <h3>Filete de Res Encebollado 6 onzas</h3>
                    <h4>
                        $12.45
                    </h4>
                </div>
                <br />
                <center><a href="/Cliente/PedidoC64" class="button"><font color="black">Agregar</font></a></center>
            </div>
        </section>
        <section class="bebida">
            <div>
                <h1>AVES</h1>
            </div>
        </section>
        <section class="menu">
            <div class="desayuno">
                <h2>Cordon Blue</h2>
                <div id="CordonBlue"></div>
                <div class="descripcionACP4">
                    <h3>Cordon Blue</h3>
                    <h4>
                        $11.25
                    </h4>
                </div>
                <br>
                <center><a href="/Cliente/PedidoC65" class="button"><font color="black">Agregar</font></a></center>
            </div>
            <div class="desayuno">
                <h2>Filete de Pechuga a la Plancha</h2>
                <div id="PechugaCilantro"></div>
                <div class="descripcionACP4">
                    <h3>Filete de Pechuga a la Plancha con Salsa de Cilantro</h3>
                    <h4>
                        $10.75
                    </h4>
                </div>
                <br>
                <center><a href="/Cliente/PedidoC66" class="button"><font color="black">Agregar</font></a></center>
            </div>
            <div class="desayuno">
                <h2>Pechuga Laura</h2>
                <div id="PechugaLaura"></div>
                <div class="descripcionACP4">
                    <h3>Pechuga Laura</h3>
                    <h4>
                        $10.25
                    </h4>
                </div>
                <br>
                <center><a href="/Cliente/PedidoC67" class="button"><font color="black">Agregar</font></a></center>
            </div>
        </section>
        <section class="menu">
            <div class="desayuno">
                <h2>Filete de Pechuga Encebollado</h2>
                <div id="PechugaEncebollada"></div>
                <div class="descripcionACP5">
                    <h3>Filete de Pechuga Encebollado</h3>
                    <h4>
                        $9.95
                    </h4>
                </div>
                <br>
                <center><a href="/Cliente/PedidoC68" class="button"><font color="black">Agregar</font></a></center>
            </div>
            <div class="desayuno">
                <h2>Filete de Pechuga La Veracruzana</h2>
                <div id="LaVeracruzana"></div>
                <div class="descripcionACP5">
                    <h3>Filete de Pechuga La Veracruzana</h3>
                    <h4>
                        $9.90
                    </h4>
                </div>
                <br>
                <center><a href="/Cliente/PedidoC69" class="button"><font color="black">Agregar</font></a></center>
            </div>
            <div class="desayuno">
                <h2>Filete de Pechuga a la Plancha</h2>
                <div id="AlaPlancha"></div>
                <div class="descripcionACP5">
                    <h3>Filete de Pechuga a la Plancha</h3>
                    <h4>
                        $8.20
                    </h4>
                </div>
                <br>
                <center><a href="/Cliente/PedidoC80" class="button"><font color="black">Agregar</font></a></center>
            </div>
        </section>
        <section class="bebida">
            <div>
                <h1>MENÚ INFANTIL</h1>
            </div>
        </section>
        <section class="menu3">
            <div class="desayuno">
                <h2>Infantil 1</h2>
                <div id="Infantil1"></div>
                <div class="descripcionACP6">
                    <h3>Infantil 1</h3>
                    <h4>
                        $5.85
                    </h4>
                </div>
                <br>
                <center><a href="/Cliente/PedidoC81" class="button"><font color="black">Agregar</font></a></center>
            </div>
            <div class="desayuno">
                <h2>Infantil 2</h2>
                <div id="Infantil2"></div>
                <div class="descripcionACP6">
                    <h3>Infantil 2</h3>
                    <h4>
                        $5.85
                    </h4>
                </div>
                <br>
                <center><a href="/Cliente/PedidoC82" class="button"><font color="black">Agregar</font></a></center>
            </div>
        </section>
        <section class="bebida">
            <div>
                <h1>RAPIDOS</h1>
            </div>
        </section>
        <section class="menu">
            <div class="desayuno">
                <h2>Pepito de Carne</h2>
                <div id="PepitoCarne"></div>
                <div class="descripcionACP7">
                    <h3>Pepito de Carne</h3>
                    <h4>
                        $7.95
                    </h4>
                </div>
                <br>
                <center><a href="/Cliente/PedidoC83" class="button"><font color="black">Agregar</font></a></center>
            </div>
            <div class="desayuno">
                <h2>Steak Burger</h2>
                <div id="SteakBurger"></div>
                <div class="descripcionACP7">
                    <h3>Steak Burger</h3>
                    <h4>
                        $7.85
                    </h4>
                </div>
                <br>
                <center><a href="/Cliente/PedidoC84" class="button"><font color="black">Agregar</font></a></center>
            </div>
            <div class="desayuno">
                <h2>Pepito de Pollo</h2>
                <div id="PepitoPollo"></div>
                <div class="descripcionACP7">
                    <h3>Pepito de Pollo</h3>
                    <h4>
                        $6.75
                    </h4>
                </div>
                <br>
                <center><a href="/Cliente/PedidoC85" class="button"><font color="black">Agregar</font></a></center>
            </div>
        </section>
        <section class="menu">
            <div class="desayuno">
                <h2>Chicken Burger</h2>
                <div id="ChickenBurger"></div>
                <div class="descripcionACP8">
                    <h3>Chicken Burger</h3>
                    <h4>
                        $6.25
                    </h4>
                </div>
                <br>
                <center><a href="/Cliente/PedidoC86" class="button"><font color="black">Agregar</font></a></center>
            </div>
            <div class="desayuno">
                <h2>Club Sandwich</h2>
                <div id="ClubSandwich"></div>
                <div class="descripcionACP8">
                    <h3>Club Sandwich</h3>
                    <h4>
                        $5.95
                    </h4>
                </div>
                <br>
                <center><a href="/Cliente/PedidoC87" class="button"><font color="black">Agregar</font></a></center>
            </div>
            <div class="desayuno">
                <h2>Sandwich doble de Jamon</h2>
                <div id="SandwichJamon"></div>
                <div class="descripcionACP8">
                    <h3>Sandwich doble de Jamon</h3>
                    <h4>
                        $4.15
                    </h4>
                </div>
                <br>
                <center><a href="/Cliente/PedidoC88" class="button"><font color="black">Agregar</font></a></center>
            </div>
        </section>
        <section class="menu">
            <div class="desayuno">
                <h2>Sandwich doble de Pollo</h2>
                <div id="SandwichPollo"></div>
                <div class="descripcionACP9">
                    <h3>Sandwich doble de pollo</h3>
                    <h4>
                        $3.65
                    </h4>
                </div>
                <br>
                <center><a href="/Cliente/PedidoC89" class="button"><font color="black">Agregar</font></a></center>
            </div>
            <div class="desayuno">
                <h2>Sandwich sencillo de Jamon</h2>
                <div id="Sandwichsencillo"></div>
                <div class="descripcionACP9">
                    <h3>Sandwich sencillo de Jamon</h3>
                    <h4>
                        $2.65
                    </h4>
                </div>
                <br>
                <center><a href="/Cliente/PedidoC90" class="button"><font color="black">Agregar</font></a></center>
            </div>
            <div class="desayuno">
                <h2>Sandwich sencillo de Pollo</h2>
                <div id="SandwichsencilloPollo"></div>
                <div class="descripcionACP9">
                    <h3>Sandwich sencillo de Pollo</h3>
                    <h4>
                        $2.45
                    </h4>
                </div>
                <br>
                <center><a href="/Cliente/PedidoC91" class="button"><font color="black">Agregar</font></a></center>
            </div>
        </section>
    </main>
    <footer>
        <div class="contenedor-footer">
            <div class="content-foo">
                <h4>Telefono</h4>
                <p>7823-4512</p>
            </div>
            <div class="content-foo">
                <h4>Email</h4>
                <p>Restaurantedoñalaura@gmail.com</p>
            </div>
            <div class="content-foo">
                <h4>Direccion</h4>
                <p>Carretera sonsacate a la par de agape el salvador</p>
            </div>
        </div>
        <h2 class="titulo-final">Restaurante Doña Laura</h2>
    </footer>
</body>
