
@{
    ViewBag.Title = "BebidasAlcoholicas";
}

<body class="body">
    <header id="header ">
        <div class="logo">
            <img src="images/logo.png" alt="">
        </div>
        <nav class="inicio">
            <ul>
                <li><a href="/Cliente/Menu">Desayunos</a></li>
                <li><a href="/Cliente/AlmuerzosCenas1">Almuerzos y Cenas 1</a></li>
                <li><a href="/Cliente/AlmuerzoCenas2">Almuerzos y Cenas 2</a></li>
                <li><a href="/Cliente/Entradaspostres">Entradas Y Postres</a></li>
                <li><a href="/Cliente/Bebidas">Bebidas</a></li>
                <li><a href="/Cliente/BebidasAlcoholicas">Bebidas Alcoholicas</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="bebida">
            <div>
                <h1>COTELES</h1>
            </div>
        </section>
        <section class="menu">
            <div class="desayuno">
                <h2>Margaritas</h2>
                <div id="margarita"></div>
                <div class="descripcionba1">
                    <h3>Margaritas</h3>
                    <h4>
                        $ 4.75
                    </h4>
                </div>
                <br />
                <center><a href="/Cliente/PedidoB33" class="button"><font color="black">Agregar</font></a></center>
            </div>
            <div class="desayuno">
                <h2>Piña Colada</h2>
                <div id="pinacolada"></div>
                <div class="descripcionba1">
                    <h3>Piña Colada</h3>
                    <h4>
                        $ 4.75
                    </h4>
                </div>
                <br>
                <center><a href="/Cliente/PedidoB34" class="button"><font color="black">Agregar</font></a></center>
            </div>
            <div class="desayuno">
                <h2>Mojito Cubano</h2>
                <div id="mojitocubano"></div>
                <div class="descripcionba1">
                    <h3>Mojito Cubano</h3>
                    <h4>
                        $ 4.75
                    </h4>
                </div>
                <br>
                <center><a href="/Cliente/PedidoB35" class="button"><font color="black">Agregar</font></a></center>
            </div>
        </section>
        <section class="menu">
            <div class="desayuno">
                <h2>Michelada Corona</h2>
                <div id="micheladacorona"></div>
                <div class="descripcionba2">
                    <h3>Michelada Coron</h3>
                    <h4>
                        $ 5.65
                    </h4>
                </div>
                <br>
                <center><a href="/Cliente/PedidoB36" class="button"><font color="black">Agregar</font></a></center>
            </div>
            <div class="desayuno">
                <h2>Michelada Suprema</h2>
                <div id="micheladasuprema"></div>
                <div class="descripcionba2">
                    <h3>Michelada Suprema</h3>
                    <h4>
                        $ 4.25
                    </h4>
                </div>
                <br>
                <center><a href="/Cliente/PedidoB37" class="button"><font color="black">Agregar</font></a></center>
            </div>
            <div class="desayuno">
                <h2>Michelada Pilsener</h2>
                <div id="micheladapilsener"></div>
                <div class="descripcionba2">
                    <h3>Michelada Pilsener</h3>
                    <h4>
                        $ 3.95
                    </h4>
                </div>
                <br>
                < <center><a href="/Cliente/PedidoB38" class="button"><font color="black">Agregar</font></a></center>
            </div>
        </section>
        <section class="menu2">
            <div class="desayuno">
                <h2>Michelada Golden</h2>
                <div id="micheladagolden"></div>
                <div class="descripcionba3">
                    <h3>Michelada Golden</h3>
                    <h4>
                        $ 3.95
                    </h4>
                </div>
                <br>
                <center><a href="/Cliente/PedidoB39" class="button"><font color="black">Agregar</font></a></center>
            </div>
        </section>
        <section class="bebida">
            <div>
                <h1>CERVEZAS</h1>
            </div>
        </section>
        <section class="menu">
            <div class="desayuno">
                <h2>Pilsener</h2>
                <div id="pilsener"></div>
                <div class="descripcionba4">
                    <h3>Pilsener</h3>
                    <h4>
                        $ 1.95
                    </h4>
                </div>
                <br>
                <center><a href="/Cliente/PedidoB40" class="button"><font color="black">Agregar</font></a></center>
            </div>
            <div class="desayuno">
                <h2>Suprema</h2>
                <div id="suprema"></div>
                <div class="descripcionba4">
                    <h3>Suprema</h3>
                    <h4>
                        $ 2.50
                    </h4>
                </div>
                <br>
                <center><a href="/Cliente/PedidoB41" class="button"><font color="black">Agregar</font></a></center>
            </div>
            <div class="desayuno">
                <h2>Corona</h2>
                <div id="corona"></div>
                <div class="descripcionba4">
                    <h3>Corona</h3>
                    <h4>
                        $ 2.50
                    </h4>
                </div>
                <br>
                <center><a href="/Cliente/PedidoB42" class="button"><font color="black">Agregar</font></a></center>
            </div>
        </section>
        <section class="menu2">
            <div class="desayuno">
                <h2>Golden</h2>
                <div id="golden"></div>
                <div class="descripcionba5">
                    <h3>Golden</h3>
                    <h4>
                        $ 1.95
                    </h4>
                </div>
                <br>
                <center><a href="/Cliente/PedidoB43" class="button"><font color="black">Agregar</font></a></center>
            </div>
        </section>
        <section class="bebida">
            <div>
                <h1>LICORES</h1>
            </div>
        </section>
        <section class="menu">
            <div class="desayuno">
                <h2>Ron Flor de Caña</h2>
                <div id="ronflorcana"></div>
                <div class="descripcionba6">
                    <h3>Ron Flor de Caña</h3>
                    <h4>
                        $ 1.00
                       
                    </h4>
                </div>
                <br>
                <center><a href="/Cliente/PedidoB44" class="button"><font color="black">Agregar</font></a></center>
            </div>
            <div class="desayuno">
                <h2>Ron Bocardi</h2>
                <div id="ronbocardi"></div>
                <div class="descripcionba6">
                    <h3>Ron Bocardi</h3>
                    <h4>

                        $ 3.00
                    </h4>
                </div>
                <br>
                <center><a href="/Cliente/PedidoB45" class="button"><font color="black">Agregar</font></a></center>
            </div>
            <div class="desayuno">
                <h2>Vodka Finlandia</h2>
                <div id="vodkafinlandia"></div>
                <div class="descripcionba6">
                    <h3>Vodka Finlandia</h3>
                    <h4>

                        $ 3.00
                    </h4>
                </div>
                <br>
                <center><a href="/Cliente/PedidoB46" class="button"><font color="black">Agregar</font></a></center>
            </div>
        </section>
        <section class="menu3">
            <div class="desayuno">
                <h2>Tequila Jose Cuervo</h2>
                <div id="tequilajosecuervo"></div>
                <div class="descripcionba6">
                    <h3>Tequila Jose Cuervo</h3>
                    <h4>
                        $ 3.75
                    </h4>
                </div>
                <br>
                <center><a href="/Cliente/PedidoB47" class="button"><font color="black">Agregar</font></a></center>
            </div>
            <div class="desayuno">
                <h2 class="bebida">Whishy Jonnie Walker</h2>
                <div id="whishyjonniewalker"></div>
                <div class="descripcionba7">
                    <h3>"Whishy Jonniewalker</h3>
                    <h4>
                     
                        $ 8.30
                    </h4>
                </div>
                <br>
                <center><a href="/Cliente/PedidoB48" class="button"><font color="black">Agregar</font></a></center>
            </div>
        </section>
        <section class="bebida">
            <div>
                <h1>VINOS</h1>
            </div>
        </section>
        <section class="menu">
            <div class="desayuno">
                <h2>René Barbier</h2>
                <div id="renebarbier"></div>
                <div class="descripcionba8">
                    <h3>René Barbier</h3>
                    <h4>
                        $ 15.00
                    </h4>
                </div>
                <br>
                <center><a href="/Cliente/PedidoB49" class="button"><font color="black">Agregar</font></a></center>
            </div>
            <div class="desayuno">
                <h2>Sangre de Toro</h2>
                <div id="sangretoro"></div>
                <div class="descripcionba8">
                    <h3>Sangre de Toro</h3>
                    <h4>
                        $ 18.00
                    </h4>
                </div>
                <br>
                <center><a href="/Cliente/PedidoB50" class="button"><font color="black">Agregar</font></a></center>
            </div>
            <div class="desayuno">
                <h2>Santa Elena</h2>
                <div id="santaelena"></div>
                <div class="descripcionba8">
                    <h3>Santa Elena</h3>
                    <h4>
                        $ 13.00
                  
                    </h4>
                </div>
                <br>
                <center><a href="/Cliente/PedidoB51" class="button"><font color="black">Agregar</font></a></center>
            </div>
        </section>
    </main>
    <footer>
        <div class="contenedor-footer">
            <div class="content-foo">
                <h4>Telefono</h4>
                <p>7823-4512</p>
            </div>
            <div class="content-foo">
                <h4>Email</h4>
                <p>Restaurantedoñalaura@gmail.com</p>
            </div>
            <div class="content-foo">
                <h4>Direccion</h4>
                <p>Carretera sonsacate a la par de agape el salvador</p>
            </div>
        </div>
        <h2 class="titulo-final">Restaurante Doña Laura</h2>
    </footer>
</body>

