
@{
    ViewBag.Title = "Bebidas";
}

<body class="body">
    <header id="header ">
        <div class="logo">
            <img src="images/logo.png" alt="">
        </div>
        <nav class="inicio">
            <ul>
                <li><a href="/Cliente/Menu">Desayunos</a></li>
                <li><a href="/Cliente/AlmuerzosCenas1">Almuerzos y Cenas 1</a></li>
                <li><a href="/Cliente/AlmuerzoCenas2">Almuerzos y Cenas 2</a></li>
                <li><a href="/Cliente/Entradaspostres">Entradas Y Postres</a></li>
                <li><a href="/Cliente/Bebidas">Bebidas</a></li>
                <li><a href="/Cliente/BebidasAlcoholicas">Bebidas Alcoholicas</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="menu">
            <div class="desayuno">
                <h2>Jugo de Naranja</h2>
                <div id="JugoN"></div>
                <div class="descripcionb1">
                    <h3>Jugo de Naranja</h3>
                    <h4>
                        De 16 Onzas
                        $ 3.95
                    </h4>
                </div>
                <br />
                <center><a href="/Cliente/PedidoB" class="button"><font color="black">Agregar</font></a></center>
            </div>
            <div class="desayuno">
                <h2>Natural</h2>
                <div id="Natural"></div>
                <div class="descripcionb1">
                    <h3>Natura</h3>
                    <h4>
                        De 10 Onzas
                        <br />
                        $ 2.55
                    </h4>
                </div>
                <br>
                <center><a href="/Cliente/PedidoB2" class="button"><font color="black">Agregar</font></a></center>
            </div>
            <div class="desayuno">
                <h2>Fozen Crowne</h2>
                <div id="FozenCrowne"></div>
                <div class="descripcionb1">
                    <h3>Fozen Crowne</h3>
                    <h4>
                        $ 3.95
                    </h4>
                </div>
                <br>
                <center><a href="/Cliente/PedidB3" class="button"><font color="black">Agregar</font></a></center>
            </div>
        </section>
        <section class="menu">
            <div class="desayuno">
                <h2>Frozen de Fresa</h2>
                <div id="FrozenFresa"></div>
                <div class="descripcionb2">
                    <h3>Frozen de Fresa</h3>
                    <h4>
                        $ 3.65
                    </h4>
                </div>
                <br>
                <center><a href="/Cliente/PedidoB4" class="button"><font color="black">Agregar</font></a></center>
            </div>
            <div class="desayuno">
                <h2>Frozen de Coco</h2>
                <div id="FrozenCoco"></div>
                <div class="descripcionb2">
                    <h3>Frozen de Coco</h3>
                    <h4>
                        $ 3.45
                    </h4>
                </div>
                <br>
                <center><a href="/Cliente/PedidoB5" class="button"><font color="black">Agregar</font></a></center>
            </div>
            <div class="desayuno">
                <h2>Frozen</h2>
                <div id="Frozen"></div>
                <div class="descripcionb2">
                    <h3>Frozen</h3>
                    <h4>
                        De Sandia
                        <br />
                        $ 2.95
                    </h4>
                </div>
                <br>
                <center><a href="/Cliente/PedidoB6" class="button"><font color="black">Agregar</font></a></center>
            </div>
        </section>
        <section class="menu">
            <div class="desayuno">
                <h2>Limonada Natural</h2>
                <div id="limonadanatural"></div>
                <div class="descripcionb3">
                    <h3>Limonada Natural</h3>
                    <h4>
                        $ 2.95
                    </h4>
                </div>
                <br>
                <center><a href="/Cliente/PedidoB7" class="button"><font color="black">Agregar</font></a></center>
            </div>
            <div class="desayuno">
                <h2>Limonada con Soda</h2>
                <div id="limonadasoda"></div>
                <div class="descripcionb3">
                    <h3>Limonada con Soda</h3>
                    <h4>
                        $ 3.25
                    </h4>
                </div>
                <br>
                <center><a href="/Cliente/PedidoB8" class="button"><font color="black">Agregar</font></a></center>
            </div>
            <div class="desayuno">
                <h2>Limonada con Hierbabuena</h2>
                <div id="limonadahierbabuena"></div>
                <div class="descripcionb3">
                    <h3>Limonada con Hierbabuena</h3>
                    <h4>
                        $ 3.25
                    </h4>
                </div>
                <br>
                <center><a href="/Cliente/PedidoB9" class="button"><font color="black">Agregar</font></a></center>
            </div>
        </section>
        <section class="menu">
            <div class="desayuno">
                <h2>Naranjada</h2>
                <div id="naranjada"></div>
                <div class="descripcionb4">
                    <h3>Naranjada</h3>
                    <h4>
                        $ 2.45
                    </h4>
                </div>
                <br>
                <center><a href="/Cliente/PedidoB10" class="button"><font color="black">Agregar</font></a></center>
            </div>
            <div class="desayuno">
                <h2>Naranjada con Soda</h2>
                <div id="naranjadasoda"></div>
                <div class="descripcionb4">
                    <h3>Naranjada con Soda</h3>
                    <h4>
                        $ 2.95
                    </h4>
                </div>
                <br>
                <center><a href="/Cliente/PedidoB11" class="button"><font color="black">Agregar</font></a></center>
            </div>
            <div class="desayuno">
                <h2>Licuado de Papaya</h2>
                <div id="licuadopapaya"></div>
                <div class="descripcionb4">
                    <h3>Licuado de Papaya</h3>
                    <h4>
                        $ 2.95
                    </h4>
                </div>
                <br>
                <center><a href="/Cliente/PedidoB12" class="button"><font color="black">Agregar</font></a></center>
            </div>
        </section>
        <section class="menu">
            <div class="desayuno">
                <h2>Jugo de Tomate</h2>
                <div id="jugotomate"></div>
                <div class="descripcionb5">
                    <h3>Jugo de Tomate</h3>
                    <h4>
                        $ 2.95
                    </h4>
                </div>
                <br>
                <center><a href="/Cliente/PedidoB13" class="button"><font color="black">Agregar</font></a></center>
            </div>
            <div class="desayuno">
                <h2>Refrescos</h2>
                <div id="refrescos"></div>
                <div class="descripcionb5">
                    <h3>Refrescos</h3>
                    <h4>
                          De Coco
                        <br />
                        $ 2.65
                    </h4>
                </div>
                <br>
                <center><a href="/Cliente/PedidoB14" class="button"><font color="black">Agregar</font></a></center>
            </div>
            <div class="desayuno">
                <h2>Licuados</h2>
                <div id="licuados"></div>
                <div class="descripcionb5">
                    <h3>Licuados</h3>
                    <h4>
                        
                        <br />
                        $ 2.65
                    </h4>
                </div>
                <br>
                <center><a href="/Cliente/PedidoB15" class="button"><font color="black">Agregar</font></a></center>
            </div>
        </section>
        <section class="menu">
            <div class="desayuno">
                <h2>Frappé de café</h2>
                <div id="frappecafe"></div>
                <div class="descripcionb6">
                    <h3>Frappé de café</h3>
                    <h4>$ 2.65</h4>
                </div>
                <br>
                <center><a href="/Cliente/PedidoB16" class="button"><font color="black">Agregar</font></a></center>
            </div>
            <div class="desayuno">
                <h2>Refresco de Ensalada</h2>
                <div id="refrescoensalada"></div>
                <div class="descripcionb6">
                    <h3>Refresco de Ensalada</h3>
                    <h4>
                        Solo los Domingos
                        <br />
                        $ 2.50
                    </h4>
                </div>
                <br>
                <center><a href="/Cliente/PedidoB17" class="button"><font color="black">Agregar</font></a></center>
            </div>
            <div class="desayuno">
                <h2>Batido de Leche</h2>
                <div id="batidoleche"></div>
                <div class="descripcionb6">
                    <h3>Batido de Leche</h3>
                    <h4>$ 2.45</h4>
                </div>
                <br>
                <center><a href="/Cliente/PedidoB18" class="button"><font color="black">Agregar</font></a></center>
            </div>
        </section>
        <section class="menu">
            <div class="desayuno">
                <h2>Horchata</h2>
                <div id="horchata"></div>
                <div class="descripcionb7">
                    <h3>Horchata</h3>
                    <h4>$ 2.25</h4>
                </div>
                <br>
                <center><a href="/Cliente/PedidoB19" class="button"><font color="black">Agregar</font></a></center>
            </div>
            <div class="desayuno">
                <h2>Refresco de Rosa de Jamica</h2>
                <div id="refrescojamica"></div>
                <div class="descripcionb7">
                    <h3>Refresco de Rosa de Jamica</h3>
                    <h4>$ 1.95</h4>
                </div>
                <br>
                <center><a href="/Cliente/PedidoB20" class="button"><font color="black">Agregar</font></a></center>
            </div>
            <div class="desayuno">
                <h2>Frozen de Rosa de Jamica</h2>
                <div id="frozenjamica"></div>
                <div class="descripcionb7">
                    <h3>Frozen de Rosa de Jamica</h3>
                    <h4>$ 1.95</h4>
                </div>
                <br>
                <center><a href="/Cliente/PedidoB21" class="button"><font color="black">Agregar</font></a></center>
            </div>
        </section>
        <section class="menu">
            <div class="desayuno">
                <h2>Gatorade 1/2 liro</h2>
                <div id="gatorade"></div>
                <div class="descripcionb8">
                    <h3>Gatorade 1/2 liro</h3>
                    <h4>$ 1.95</h4>
                </div>
                <br>
                <center><a href="/Cliente/PedidoB22" class="button"><font color="black">Agregar</font></a></center>
            </div>
            <div class="desayuno">
                <h2>Gaseosas</h2>
                <div id="gaseosa"></div>
                <div class="descripcionb8">
                    <h3>Gaseosas</h3>
                    <h4>$ 1.95</h4>
                </div>
                <br>
                <center><a href="/Cliente/PedidoB23" class="button"><font color="black">Agregar</font></a></center>
            </div>
            <div class="desayuno">
                <h2>Té helado</h2>
                <div id="tehelado"></div>
                <div class="descripcionb8">
                    <h3>Té helado</h3>
                    <h4>$ 1.95</h4>
                </div>
                <br>
                <center><a href="/Cliente/PedidoB24" class="button"><font color="black">Agregar</font></a></center>
            </div>
        </section>
        <section class="menu2">
            <div class="desayuno">
                <h2>Agua</h2>
                <div id="agua"></div>
                <div class="descripcionb9">
                    <h3>Agua</h3>
                    <h4>$ 0.75</h4>
                </div>
                <br>
                <center><a href="/Cliente/PedidoB25" class="button"><font color="black">Agregar</font></a></center>
            </div>
        </section>
        <section class="bebida">
            <div>
                <h1>Bebidas Calientes</h1>
            </div>
        </section>
        <section class="menu">
            <div class="desayuno">
                <h2>Chocolate con leche</h2>
                <div id="chocolateleche"></div>
                <div class="descripcionb10">
                    <h3>Chocolate con leche</h3>
                    <h4>$ 1.50</h4>
                </div>
                <br>
                <center><a href="/Cliente/PedidoB26" class="button"><font color="black">Agregar</font></a></center>
            </div>
            <div class="desayuno">
                <h2>Chocolate</h2>
                <div id="chocolate"></div>
                <div class="descripcionb10">
                    <h3>Chocolate</h3>
                    <h4>$ 1.35</h4>
                </div>
                <br>
                <center><a href="/Cliente/PedidoB27" class="button"><font color="black">Agregar</font></a></center>
            </div>
            <div class="desayuno">
                <h2>Leche helada</h2>
                <div id="lechehelada"></div>
                <div class="descripcionb10">
                    <h3>Leche helada</h3>
                    <h4>$ 1.50</h4>
                </div>
                <br>
                <center><a href="/Cliente/PedidoB28" class="button"><font color="black">Agregar</font></a></center>
            </div>
        </section>
        <section class="menu">
            <div class="desayuno">
                <h2>Leche caliente</h2>
                <div id="lechecaliente"></div>
                <div class="descripcionb11">
                    <h3>Leche caliente</h3>
                    <h4>$ 1.35</h4>
                </div>
                <br>
                <center><a href="/Cliente/PedidoB29" class="button"><font color="black">Agregar</font></a></center>
            </div>
            <div class="desayuno">
                <h2>Café con leche</h2>
                <div id="cafeleche"></div>
                <div class="descripcionb11">
                    <h3>Café con leche</h3>
                    <h4>$ 1.10</h4>
                </div>
                <br>
                <center><a href="/Cliente/PedidoB30" class="button"><font color="black">Agregar</font></a></center>
            </div>
            <div class="desayuno">
                <h2>Café</h2>
                <div id="Cafe"></div>
                <div class="descripcionb11">
                    <h3>Café</h3>
                    <h4>$ 0.95</h4>
                </div>
                <br>
                <center><a href="/Cliente/PedidoB31" class="button"><font color="black">Agregar</font></a></center>
            </div>
        </section>
        <section class="menu2">
            <div class="desayuno">
                <h2>Té caliente</h2>
                <div id="tecaliente"></div>
                <div class="descripcionb12">
                    <h3>Té caliente</h3>
                    <h4>$ 0.95</h4>
                </div>
                <br>
                <center><a href="/Cliente/PedidoB32" class="button"><font color="black">Agregar</font></a></center>
            </div>
        </section>
    </main>
    <footer>
        <div class="contenedor-footer">
            <div class="content-foo">
                <h4>Telefono</h4>
                <p>7823-4512</p>
            </div>
            <div class="content-foo">
                <h4>Email</h4>
                <p>Restaurantedoñalaura@gmail.com</p>
            </div>
            <div class="content-foo">
                <h4>Direccion</h4>
                <p>Carretera sonzacate a la par de agape el salvador</p>
            </div>
        </div>
        <h2 class="titulo-final">Restaurante Doña Laura</h2>
    </footer>
</body>

