
@{
    ViewBag.Title = "Entradaspostres";
}

<body class="body">
    <header id="header ">
        <div class="logo">
            <img src="images/logo.png" alt="">
        </div>
        <nav class="inicio">
            <ul>
                <li><a href="/Cliente/Menu">Desayunos</a></li>
                <li><a href="/Cliente/AlmuerzosCenas1">Almuerzos y Cenas 1</a></li>
                <li><a href="/Cliente/AlmuerzoCenas2">Almuerzos y Cenas 2</a></li>
                <li><a href="/Cliente/Entradaspostres">Entradas Y Postres</a></li>
                <li><a href="/Cliente/Bebidas">Bebidas</a></li>
                <li><a href="/Cliente/BebidasAlcoholicas">Bebidas Alcoholicas</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="menu">
            <div class="desayuno">
                <h2>25 Boquitas</h2>
                <div id="boquita"></div>
                <div class="descripcionE1">
                    <h3>25 Boquitas</h3>
                    <h4>
                        $12.95
                    </h4>
                </div>
                <br />
                <center><a href="/Cliente/PedidoC17" class="button"><font color="black">Agregar</font></a></center>
            </div>
            <div class="desayuno">
                <h2>12 Boquitas</h2>
                <div id="Boquitas"></div>
                <div class="descripcionE1">
                    <h3>12 Boquitas</h3>
                    <h4>
                        $6.45
                    </h4>
                </div>
                <br>
                <center><a href="/Cliente/PedidoC18" class="button"><font color="black">Agregar</font></a></center>
            </div>
            <div class="desayuno">
                <h2>Tortilla con frijoles</h2>
                <div id="tortillafrijoles"></div>
                <div class="descripcionE1">
                    <h3>Tortilla con frijoles</h3>
                    <h4>
                        $1.35
                    </h4>
                </div>
                <br>
                <center><a href="/Cliente/PedidoC19" class="button"><font color="black">Agregar</font></a></center>
            </div>
        </section>
        <section class="menu2">
            <div class="desayuno">
                <h2>Consome de la casa</h2>
                <div id="consome"></div>
                <div class="descripcionE2">
                    <h3>Consome de la casa</h3>
                    <h4>
                        $0.75
                    </h4>
                </div>
                <br>
                <center><a href="/Cliente/PedidoC20" class="button"><font color="black">Agregar</font></a></center>
            </div>
        </section>
        <section class="bebida">
            <div>
                <h1>Postres</h1>
            </div>
        </section>
        <section class="menu">
            <div class="desayuno">
                <h2>Sopaipilla</h2>
                <div id="paipilla"></div>
                <div class="descripcionE3">
                    <h3>Sopaipilla</h3>
                    <h4>
                        $3.95
                    </h4>
                </div>
                <br>
                <center><a href="/Cliente/PedidoC21" class="button"><font color="black">Agregar</font></a></center>
            </div>
            <div class="desayuno">
                <h2>Plato de fruta</h2>
                <div id="fruta"></div>
                <div class="descripcionE3">
                    <h3>Plato de fruta</h3>
                    <h4>
                        $3.85
                    </h4>
                </div>
                <br>
                <center><a href="/Cliente/PedidoC22" class="button"><font color="black">Agregar</font></a></center>
            </div>
            <div class="desayuno">
                <h2>Pastel de higo</h2>
                <div id="higo"></div>
                <div class="descripcionE3">
                    <h3>Pastel de higo</h3>
                    <h4>
                        $2.95
                    </h4>
                </div>
                <br>
                <center><a href="/Cliente/PedidoC23" class="button"><font color="black">Agregar</font></a></center>
            </div>
        </section>
        <section class="menu">
            <div class="desayuno">
                <h2>Budin Doña Laura</h2>
                <div id="budinlaura"></div>
                <div class="descripcionE4">
                    <h3>Budin Doña Laura</h3>
                    <h4>
                        $2.25
                    </h4>
                </div>
                <br />
                <center><a href="/Cliente/PedidoC24" class="button"><font color="black">Agregar</font></a></center>
            </div>
            <div class="desayuno">
                <h2>Quesadillas</h2>
                <div id="quesadillas"></div>
                <div class="descripcionE4">
                    <h3>Quesadillas solo los domingos</h3>
                    <h4>
                        $2.25
                    </h4>
                </div>
                <br>
                <center><a href="/Cliente/PedidoC25" class="button"><font color="black">Agregar</font></a></center>
            </div>
            <div class="desayuno">
                <h2>Budin Especial</h2>
                <div id="budinespecial"></div>
                <div class="descripcionE4">
                    <h3>Budin Especial</h3>
                    <h4>
                        $1.95
                    </h4>
                </div>
                <br>
                <center><a href="/Cliente/PedidoC26" class="button"><font color="black">Agregar</font></a></center>
            </div>
        </section>
        <section class="menu2">
            <div class="desayuno">
                <h2>Pastel de manzana</h2>
                <div id="manzana"></div>
                <div class="descripcionE5">
                    <h3>Pastel de manzana</h3>
                    <h4>
                        $2.75
                    </h4>
                </div>
                <br>
                 <center><a href="/Cliente/PedidoC27" class="button"><font color="black">Agregar</font></a></center>
            </div>
        </section>
    </main>
    <footer>
        <div class="contenedor-footer">
            <div class="content-foo">
                <h4>Telefono</h4>
                <p>7823-4512</p>
            </div>
            <div class="content-foo">
                <h4>Email</h4>
                <p>Restaurantedoñalaura@gmail.com</p>
            </div>
            <div class="content-foo">
                <h4>Direccion</h4>
                <p>Carretera sonsacate a la par de agape el salvador</p>
            </div>
        </div>
        <h2 class="titulo-final">Restaurante Doña Laura</h2>
    </footer>
</body>



