
@{
    ViewBag.Title = "Index";
}
<body class="body">
    <center>
        <h1 id="bienvenida">Bienvenido al restaurante</h1>
        <div id="logo"></div>
        <p> <i>Nota: Si deseas realizar un pedido, te invitamos a que te registres</i> <br /></p>

        <p align="left" id="h4">
            <br /> Restaurante Doña Laura abrió sus puertas en el año de 1994, ofreciendo desde entonces una atención personalizada y exquisita comida a la carta que puede disfrutar en
            desayunos, almuerzos y cenas, los cuales puede acompañar de postres y bebidas de su elección.
            <br />
            @*<center><div id="imagen2"></div></center>*@
            Esta pagina web se hizo con la finalidad de ofrecer a nuestros clientes:
            <br />
            <ul align="left" id="h4">
                <li>Un mejor servicio</li>
                <li>Innovación para hacer los pedidos</li>
                <li>Facilitar el proceso de pedidos</li>
            </ul>
        </p>
    </center>
    <main>
        <br />
        <section>
            <center><article id="imagen1"></article></center>
        </section>
    </main>
    <footer>
        <div class="contenedor-footer">
            <div class="content-foo">
                <h4>Telefono</h4>
                <p>7823-4512</p>
            </div>
            <div class="content-foo">
                <h4>Email</h4>
                <p>Restaurantedoñalaura@gmail.com</p>
            </div>
            <div class="content-foo">
                <h4>Direccion</h4>
                <p>Carretera sonsacate a la par de agape el salvador</p>
            </div>
        </div>
        <h2 class="titulo-final">Restaurante Doña Laura</h2>
    </footer>

</body>
