
@{
    ViewBag.Title = "Menu";
}
<body class="body">
    <header id="header ">
        <div class="logo">
            <img src="images/logo.png" alt="">
        </div>
        <nav class="inicio">
            <ul>
                <li><a href="/Cliente/Menu">Desayunos</a></li>
                <li><a href="/Cliente/AlmuerzosCenas1">Almuerzos y Cenas 1</a></li>               
                <li><a href="/Cliente/AlmuerzoCenas2">Almuerzos y Cenas 2</a></li>               
                <li><a href="/Cliente/Entradaspostres">Entradas Y Postres</a></li>
                <li><a href="/Cliente/Bebidas">Bebidas</a></li>
                <li><a href="/Cliente/BebidasAlcoholicas">Bebidas Alcoholicas</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="menu">
            <div class="desayuno">
                <h2>Americano</h2>
                <div id="Americano"></div>
                <div class="descripcion">
                    <h3>Americano</h3>
                    <h4>
                        (Omellete de jamón, 1 Hash Brown, dos pancakes, jugo de naranja de 6 onzas,
                        café negro o té y dos panes).
                    </h4>
                </div>
                <br />
                <center><a href="/Cliente/PedidoC" class="button"><font color="black">Agregar</font></a></center>
            </div>
            <div class="desayuno">
                <h2>Típico</h2>
                <div id="Tipico"></div>
                <div class="descripcion">
                    <h3>Típico</h3>
                    <h4>
                        (Frijoles volteados, 2 huevos revueltos o estrellados, chrizo Argentino, queso o crema,
                        plátano frito, 1 onza de salsa ranchera, café negro o té y dos panes).
                    </h4>
                </div>
                <br>
                <center><a href="/Cliente/PedidoC2" class="button"><font color="black">Agregar</font></a></center>
            </div>
            <div class="desayuno">
                <h2>Motuleño</h2>
                <div id="Motuleno"></div>
                <div class="descripcion">
                    <h3>Motuleño</h3>
                    <h4>
                        (Dos huevos estrellados montados sobre una base de tortilla frita, jamón, frijoles volteados,
                        queso derretido, salsa de tomate, café negro o té y dos panes).
                    </h4>
                </div>
                <br>
                <center><a href="/Cliente/PedidoC3" class="button"><font color="black">Agregar</font></a></center>
            </div>
        </section>
        <section class="menu">
            <div class="desayuno">
                <h2>Salvadoreño</h2>
                <div id="Salvadoreño"></div>
                <div class="descripcion2">
                    <h3>Salvadoreño</h3>
                    <h4>
                        (Plátano frito, aguacate, frijoles volteados, queso o crema,
                        2 huevos revueltos o estrellados, salsa ranchera, café negro o té y dos panes).
                    </h4>
                </div>
                <br>
                <center><a href="/Cliente/PedidoC4" class="button"><font color="black">Agregar</font></a></center>
            </div>
            <div class="desayuno">
                <h2>Burrito de huevo</h2>
                <div id="desayuno"></div>
                <div class="descripcion2">
                    <h3>Burrito de huevo</h3>
                    <h4>
                        (Huevo revueltos, frijoles volteados y queso americano todo esto rollado
                        en una tortilla de harina, acompañado de plátano y salsa roja).
                    </h4>
                </div>
                <br>
                <center><a href="/Cliente/PedidoC5" class="button"><font color="black">Agregar</font></a></center>
            </div>
            <div class="desayuno">
                <h2>Sonsonateco</h2>
                <div id="Sonsonateco"></div>
                <div class="descripcion2">
                    <h3>Sonsonateco</h3>
                    <h4>
                        (Solo los dias Domingo)
                        (Tamal de gallina, frijoles volteados, queso o crema, plátano frito,
                        café negro o té y dos panes).
                    </h4>
                </div>
                <br>
                <center><a href="/Cliente/PedidoC6" class="button"><font color="black">Agregar</font></a></center>
            </div>
        </section>
        <section class="menu">
            <div class="desayuno">
                <h2>Divorciado</h2>
                <div id="Divorciado"></div>
                <div class="descripcion3">
                    <h3>Divorciado</h3>
                    <h4>
                        (2 huevos estrellados con salsa verde y roja, frijoles volteados, plátano frito,
                        queso o crema, café negro o té y dos panes).
                    </h4>
                </div>
                <br>
                <center><a href="/Cliente/PedidoC7" class="button"><font color="black">Agregar</font></a></center>
            </div>
            <div class="desayuno">
                <h2>A Caballo</h2>
                <div id="Caballo"></div>
                <div class="descripcion3">
                    <h3>A Caballo</h3>
                    <h4>
                        (2 huevos estrellados sobre 4 onzas de lomo rollizo, frijoles volteados, plátano frito,
                        1 onza de salsa ranchera, queso o crema, café negro o té y dos panes).
                    </h4>
                </div>
                <br>
                <center><a href="/Cliente/PedidoC8" class="button"><font color="black">Agregar</font></a></center>
            </div>
            <div class="desayuno">
                <h2>Buenos Dias</h2>
                <div id="Buenos"></div>
                <div class="descripcion3">
                    <h3>Buenos Dias</h3>
                    <h4>
                        (Omellete de tocino, frijoles volteados, 2 pancakes,
                        1 jugo de naranja de 6 onzas, 2 panes y café negro o té).
                    </h4>
                </div>
                <br>
                <center><a href="/Cliente/PedidoC9" class="button"><font color="black">Agregar</font></a></center>
            </div>
        </section>
        <section class="menu">
            <div class="desayuno">
                <h2>Avena y Granola</h2>
                <div id="Avena"></div>
                <div class="descripcion4">
                    <h3>Avena y Granola</h3>
                    <h4>
                        (Avena con o sin leche y 1/2 plato de fruta /o ganola con yogurt
                        y fruta).
                    </h4>
                </div>
                <br>
                <center><a href="/Cliente/PedidoC10" class="button"><font color="black">Agregar</font></a></center>
            </div>
            <div class="desayuno">
                <h2>Sandwich Ágape</h2>
                <div id="agape"></div>
                <div class="descripcion4">
                    <h3>Sandwich Ágape</h3>
                    <h4>
                        (Sandwich de dos niveles, pasta de pollo, jamón y queso, hevo estrellado y vegetales
                        frescos, acompañado de 4 onzas de papas fritas)
                    </h4>
                </div>
                <br>
                <center><a href="/Cliente/PedidoC11" class="button"><font color="black">Agregar</font></a></center>
            </div>
            <div class="desayuno">
                <h2>Ejecutivo</h2>
                <div id="ejecutivo"></div>
                <div class="descripcion4">
                    <h3>Ejecutivo</h3>
                    <h4>
                        (6 onzas de jugo de naranja natural, plato de frutas de 8 onzas, dos tostadas con
                        mantequilla y jalea, café negro o té).
                    </h4>
                </div>
                <br>
                <center><a href="/Cliente/PedidoC12" class="button"><font color="black">Agregar</font></a></center>
            </div>
        </section>
        <section class="menu">
            <div class="desayuno">
                <h2>Real</h2>
                <div id="Real"></div>
                <div class="descripcion5">
                    <h3>Real</h3>
                    <h4>
                        (Dos huevos al gusto, salsa ranchera, frijoles volteados, plátano frito,
                        queso, crema, café negro o té y dos panes).
                    </h4>
                </div>
                <br>
                <center><a href="/Cliente/PedidoC13" class="button"><font color="black">Agregar</font></a></center>
            </div>
            <div class="desayuno">
                <h2>Medio Americano</h2>
                <div id="Americano"></div>
                <div class="descripcion5">
                    <h3>Medio Americano</h3>
                    <h4>
                        (Omellete de jamón, 1 onza de salsa ranchera, frijoles volteados, queso,
                        plátano frito, 6 onzas de  jugo de naranja, café negro o té y dos panes).
                    </h4>
                </div>
                <br>
                <center><a href="/Cliente/PedidoC14" class="button"><font color="black">Agregar</font></a></center>
            </div>
            <div class="desayuno">
                <h2>Ágape</h2>
                <div id="agape2"></div>
                <div class="descripcion5">
                    <h3>Ágape</h3>
                    <h4>
                        (Frijoles volteados, 2 huevos revueltos con 1 onza de salsa ranchera, queso,
                        1/2 plátano frito, 2 panes y café negro.
                    </h4>
                </div>
                <br>
                <center><a href="/Cliente/PedidoC15" class="button"><font color="black">Agregar</font></a></center>
            </div>
        </section>
        <section class="menu">
            <div class="desayuno">
                <h2>Hamburguesa jamón y huevo</h2>
                <div id="hamburguesa"></div>
                <div class="descripcion6">
                    <h3>Hamburguesa jamón y huevo</h3>
                    <h4>(Hamburguesa de huevo estrellado, jamón, queso kraft y café negro).</h4>
                </div>
                <br>
                <center><a href="/Cliente/PedidoC16" class="button"><font color="black">Agregar</font></a></center>
            </div>
        </section>
    </main>
    <footer>
        <div class="contenedor-footer">
            <div class="content-foo">
                <h4>Telefono</h4>
                <p>7823-4512</p>
            </div>
            <div class="content-foo">
                <h4>Email</h4>
                <p>Restaurantedoñalaura@gmail.com</p>
            </div>
            <div class="content-foo">
                <h4>Direccion</h4>
                <p>Carretera sonsacate a la par de agape el salvador</p>
            </div>
        </div>
        <h2 class="titulo-final">Restaurante Doña Laura</h2>
    </footer>
</body>
