
@{
    ViewBag.Title = "Nosotros";
}

<body class="body">
    <center><h1 id="h1"><n>Puedes ubicarnos</n></h1></center>
    <div class="mapa">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15502.931726096966!2d-89.7114257!3d13.7346124!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x543f26e8bb9ca31d!2sRestaurante%20Do%C3%B1a%20Laura!5e0!3m2!1ses!2ssv!4v1662524534349!5m2!1ses!2ssv" width="500"
                height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <footer>
        <div class="contenedor-footer">
            <div class="content-foo">
                <h4>Telefono</h4>
                <p>7823-4512</p>
            </div>
            <div class="content-foo">
                <h4>Email</h4>
                <p>Restaurantedoñalaura@gmail.com</p>
            </div>
            <div class="content-foo">
                <h4>Direccion</h4>
                <p>Carretera sonsacate a la par de agape el salvador</p>
            </div>
        </div>
        <h2 class="titulo-final">Restaurante Doña Laura</h2>
    </footer>
</body>

